{% extends "base.html" %}
{% block title %}About Page{% endblock %}
{% block content %}
<h1 class=main-h1>What Is Disc Golf Pricer?</h1>
<p class=main-p>The sport of disc golf has grown immensly in popularity over the past few years. 
    As a result, there are more ways than ever to buy discs. But with so many places to buy from, 
    how do you know where you can get the best deal? This is where Disc Golf Pricer comes in. 
    Disc Golf Pricer is a service which aggregates golf disc prices from various online sources. 
    This will give you a complete visual representation of the market for each specific disc.
    The site also provides direct links to buy every disc we process.</p>
<p class=main-p>Currently the service will only aggregate prices from Ebay, with support for more 
    marketplaces and retailers coming in the future.</p>
{% endblock %}